@font-face {
  font-family: Cinzel;
  src: url("../public/fonts/CinzelDecorative-Bold.ttf")
}

@font-face {
  font-family: Eb;
  src: url("../public/fonts/EBGaramond-VariableFont_wght.ttf")
}

@import "tailwindcss";

@theme {
  --font-Cinzel: Cinzel;
  --font-Eb: Eb;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  @apply text-[#422727] border-[#422727]
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
